[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Lab-6
Exec=/usr/bin/ru.auroraos.Lab-6
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Lab-6
ExecDBus=/usr/bin/ru.auroraos.Lab-6
