[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Lab-5
Exec=/usr/bin/ru.auroraos.Lab-5
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Lab-5
ExecDBus=/usr/bin/ru.auroraos.Lab-5
